ion-toolbar {
    --background: var(--ion-color-darkblue);
}

ion-item-sliding {
    border-bottom: 1px solid var(--ion-color-darkblue-tint);
}
ion-label {
    padding: 0.5rem 0px;
}

ion-chip {
    position: absolute;
    top: 2%;
    left: 1%;
    width: calc;
    width: 100%;
    height: 40px;
    background: white;
    border: none;
    color: var(--ion-color-darkblue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
    ion-label {
        padding-left: 0.7rem !important;
        color: var(--ion-color-darkblue);
        font-size: 1.1rem;
        font-weight: bold;
    }
}
.extra-info {
    position: absolute;
    bottom: 0;
    left: 10%;
    p {
        color: #bbb;
        font-size: 1.1rem;
    }
}
.left-side {
    background: orange;
}

ion-item-sliding:nth-child(2n) {
    .left-side {
        background: var(--ion-color-success);
    }
    #triangle-topleft {
        border-top: 90px solid var(--ion-color-success);
    }
}
ion-item-sliding:nth-child(3n) {
    .left-side {
        background: var(--ion-color-danger);
    }
    #triangle-topleft {
        border-top: 90px solid var(--ion-color-danger);
    }
}

.icon {
    font-size: 40px;
    color: white;
    margin: 0.4rem;
}
#triangle-topleft {
    width: 0;
    height: 0;
    border-top: 90px solid orange;
    border-right: 50px solid transparent;
}

ion-item-sliding {
    margin-bottom: 0.5rem;

    box-shadow: 1px 4px 5px #af969657;
}
 
.searchbar {
    ion-searchbar {
        --border-radius: 0.5rem;
        ::ng-deep {
            .searchbar-input-container {
                .searchbar-input {
                    box-shadow: none;
                    border: 1px solid gainsboro;
                }
            }
        }
    }
    .file-icon {
        color: var(--ion-color-darkblue);
    }
    margin-bottom: 0.5rem;
    box-shadow: 1px 4px 5px #af969657;
}
